@using ClassLibrary1
@model IEnumerable<HackerNews>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (HackerNews hn in Model)
    {
        <h4>@hn.Title</h4>
        <h4>@hn.Url</h4>
        <br />
        }


    </div>
